/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 10 version
*/

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  --detailscolor: #5e4f39;
  --fontcolor: #F2EDEA;
  --itemtranslate: 0;
}
body {
  background-color: #fffaf6;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 250px 40px 200px 40px 4fr 40px 2fr;
  grid-template-columns: 250px 200px 4fr 2fr;
  -ms-grid-rows: 40px;
  grid-template-rows: 40px;
  padding: 20px 75px;
  gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid var(--fontcolor);
  background-color: var(--detailscolor);
  color: var(--fontcolor);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1;
}
#hamburger {
  opacity: 0;
  display: none;
}
.hamburger-menu {
  display: none;
  position: relative;
}
.hamlabel {
  height: 28px;
  width: 47px;
  position: relative;
}
.line1 , .line2 , .line3 {
  position: absolute;
  content: "";
  min-width: 30px;
  height: 4px;
  border-radius: 10px;
  background-color: var(--fontcolor);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
} 
.line1 {
  width: 100%;
  top: 0;
  left: 0;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.line2 {
  top: 50%;
  width: 75%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.line3 {
  width: 100%;
  bottom: 0;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.logo , .main-navigation , .searchbox , .user-area{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.logo {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
  -ms-grid-column-align: start;
      justify-self: start;
}
.logo h2 {
  color: var(--fontcolor);
  font-size: 30px;
}
.logo i {
  color: var(--fontcolor);
  font-size: 30px;
}
.main-navigation {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 20px;
  position: relative;
}
.shop-nav::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 0px;
  height: 3px;
  border-radius: 13px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
  background-color: var(--fontcolor);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.main-navigation:hover .shop-nav::after {
  width: 100%;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.shop-nav:hover , .ideas-nav:hover , .about-nav:hover{
  background-color: var(--fontcolor);
  color: var(--detailscolor);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.shop-nav:hover {
  transition: 0.05s;
  -webkit-transition: 0.05s;
  -moz-transition: 0.05s;
  -ms-transition: 0.05s;
  -o-transition: 0.05s;
}
.exitbtn {
  display: none;
}
.shop-nav , .ideas-nav , .about-nav {
  padding: 8px 0;
  width: 33.333333%;
  text-align: center;
}
.searchbox {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-self: flex-start;
  width: 70%;
  min-width: 300px;
  height: 100%;
}
.searchbox button {
  background-color: var(--fontcolor);
  border: none;
  width: 50px;
  height: 35px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-right: 1px solid var(--detailscolor);
}
.searchbox button i {
  font-size: 20px;
  color: var(--detailscolor);
}
.searchbox input {
  width: 100%;
  height: 35px;
  padding: 10px 15px;
  outline: none;
  border: none;
  background-color: var(--fontcolor);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  font-size: 20px;
  color: var(--detailscolor);
  font-weight: 600;
}
.user-area {
  justify-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
.user-area i {
  font-size: 20px;
}
.shop-nav:hover .menu1 , .ideas-nav:hover .menu2 , .about-nav:hover .menu3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.dropdownmenu {
  position: fixed;
  display: none;
  top: 80px;
  height: 60px;
  padding: 20px 75px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: var(--detailscolor);
  color: var(--fontcolor);
  left: 0;
  border-top: 1px solid var(--fontcolor);
  width: 100vw;
}
.dropdownmenu li {
  padding: 50px 30px 50px 0;
  min-width: 100px;
  text-align: left;
  cursor: pointer;
}
.dropdownmenu li:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}
.banner {
  background-image: url("./main-banner.jpg");
  height: 850px;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #221e17;
  gap: 20px;
  padding: 0;
}
.banner h1 a {
  font-size: 75px;
  letter-spacing: 7px;
}
.banner p , a {
  font-size: 25px;
}
.shop-now-link {
  text-decoration: underline;
  text-underline-offset: 10px;
  width: 100%;
}
.delicates {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr;
  padding: 75px 10vw;
  gap: 22px 55px;
  color: #221e17;
}
.delicates p {
  font-size: 18px;
  letter-spacing: 1.5px;
  line-height: 30px;
  max-height: 400px;
}
.table , .dinnerware {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.table img , .dinnerware img {
  width: 100%;
  min-width: 300px;
}
.wrapper {
  padding: 50px 10vw;
  color: #221e17;
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.explore {
  display: flex;
  flex-direction: row;
  gap: 10px;
  overflow: hidden;
  height: 580px;
}
.item {
  height: 100%;
  transform: translateX(var(--itemtranslate));
  -webkit-transform: translateX(var(--itemtranslate));
  -moz-transform: translateX(var(--itemtranslate));
  -ms-transform: translateX(var(--itemtranslate));
  -o-transform: translateX(var(--itemtranslate));
  transition: 0.75s;
  -webkit-transition: 0.75s;
  -moz-transition: 0.75s;
  -ms-transition: 0.75s;
  -o-transition: 0.75s;
}
.textitem {
  display: grid;
  grid-template-columns: 5fr 1fr 1fr;
  padding: 5px;
}
.options {
  display: grid;
  align-items: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: 4fr 70px 70px;
  grid-template-rows: 60px;
  font-size: 24px;
  padding: 20px 0;
  position: relative;
}
#left-btn , #right-btn {
  background-color: transparent;
  border: none;
  font-size: 32px;
  color: var(--detailscolor);
}
.btns {
  display: flex;
  gap: 15px;
  position: absolute;
  right: 0;
}
.options-desc {
  justify-self: start;
  text-align: center;
}
#article-price , #article-name {
  justify-self: flex-end;
}
.room-section {
  display: grid;
  grid-template-columns: 1fr 1.25fr 1fr;
  overflow-x : scroll;
  overflow-y : hidden
}
.room-section img {
  width: 1000px;
  height: 100%;
}
.rooms-header {
  padding: 30px 10vw;
  color: #221e17;
  font-size: 35px;
}
.livingroom , .bedroom , .diningroom  {
  position: relative;
}
.livingroom p, .bedroom p, .diningroom p {
  position: absolute;
  bottom: 0;
  color: #221e17;
  padding: 30px;
}
.diffrent-style {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0 10vw;
}
.traditional , .modern , .farm {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 100px;
  align-items: center;
  background-color: #F5F5F5;
}
.diffrent-style img {
  width: 100%;
  height: 400px;
}
.style-desc {
  display: grid;
  grid-template-rows: 55px 35px;
  justify-items: start;
  align-items: flex-start;
  padding: 10px;
  height: 100%;
}
.style-desc h5 , .style-desc p {
  font-size: 20px; 
  color: #221e17;
}
.style-desc p {
  font-size: 16px;
}
.stylesbtn {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  width: 150px;
  height: 40px;
  margin: 30px 0;
  background-color: #221e17;
  color: var(--fontcolor);
  font-size: 17px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.stylesbtn:hover {
  transform: translate(-50% , -5px);
  -webkit-transform: translate(-50% , -5px);
  -moz-transform: translate(-50% , -5px);
  -ms-transform: translate(-50% , -5px);
  -o-transform: translate(-50% , -5px);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  box-shadow: 0px 4px 1px rgba(0, 0, 0, 0.267);
}
/* === MEDIA QUERIES === */
@media (max-width: 1200px) {
  nav {
    padding: 20px 30px;
} .dropdownmenu {
    padding: 20px 30px;
}
  .delicates {
    grid-template-columns: 1.5fr 1.5fr;
    grid-template-rows: 1fr 150px;
  }
  .delicates p {
    grid-column: 1 / -1;
    font-size: 16px;
  }
  .table img , .dinnerware img {
    height: 100%;
    min-width: 200px;
  }
}

@media (max-width: 1050px) {
  nav {
    -ms-grid-columns: 1fr 0 1fr 0 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 50px 0 50px;
    grid-template-rows: 50px 50px;
    gap: 0;
    padding: 10px 30px;
  }
  .hamburger-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .logo {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .main-navigation {
    display: none;
  }
  .searchbox {
    grid-column: 1 / -1;
    grid-row: 2 / -1;
    width: 100%;
  }
  .searchbox input {
    width: 100%;
  }
  .mobile-main-navs {
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--detailscolor);
    border-right: 2px solid var(--fontcolor);
    width: 500px;
    height: 100vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 50px;
    grid-template-columns: 1fr 1fr 1fr 50px;
    -ms-grid-rows: 50px auto;
    grid-template-rows: 50px auto;
  }
  .menu1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .dropdownmenu {
    position: fixed;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 50px;
    height: 100%;
    gap: 25px;
    padding: 20px 50px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background-color: var(--detailscolor);
    width: 500px;
    font-size: 14px;
    grid-column: 1 / -1;
    -ms-grid-row: 2;
    grid-row: 2;
    border-right: 2px solid var(--fontcolor);
  }
  .dropdownmenu li {
    padding: 0;
    min-width: 0;
    border-bottom: 1px solid var(--fontcolor);
    width: 100%;
    text-align: left;
    padding: 10px 0;
    font-size: 16px;
  }
  .btn-box {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid var(--fontcolor);
  }
  .mobile-exit-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    background-color: transparent;
    border: none;
    color: var(--fontcolor);
    font-size: 25px;
    height: 100%;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}
  .mobile-exit-btn:hover {
    background-color: var(--fontcolor);
    color: var(--detailscolor);
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}
  .shop-nav , .ideas-nav , .about-nav{
    width: 100%;
    height: 100%;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid var(--fontcolor);
  }
  .menu1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .shop-nav::after {
    height: 0;
  }
  .dropdownmenu li:hover {
    text-decoration: none;
  }
  .diffrent-style {
    flex-direction: column;
  }
  .traditional , .modern , .farm{
    grid-template-columns: 1fr 0.4fr;
    grid-template-rows: 1fr;
    justify-items: start;
  }
}
@media (max-width:750px) {
  .delicates {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 12px;
  }
  .btns {
    position: relative;
  }
  .room-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .room-section img {
    height: 100%;
    width: 200%;
    transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
}
  .traditional , .modern , .farm{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: start;
  }
  .style-desc {
    
  }
}
@media (max-width: 600px) {
  .explore {
    width: 100%;
    height: 100%;
  }
  .item {
    height: 100%;
    width: 550px;
  }
  .item img {
    width: 100%;
  }
  .textitem {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 14px;
    gap: 5px;
  }
  .options {
    grid-template-columns: 1fr;
    grid-template-rows: 60px 40px;
    font-size: 20px;
    padding: 10px 0;
  }
  #left-btn , #right-btn {
    font-size: 20px;
    grid-row: 2 / 3;
  }
}
@media (max-width: 500px) {
  nav {
    padding: 5px 20px;
    gap: 0 10px;
  }
  .searchbox {
    grid-column: 1 / -1;
    grid-row: 2 / -1;
    width: 100%;
    min-width: 0;
  }
  .searchbox input {
    width: 100%;
  }
  .logo i {
    display: none;
  }
  .logo h2 {
    font-size: 22px;
  }
  .user-area {
    gap: 6px;
  }
  .user-area i {
    font-size: 14px;
  }
  .hamlabel {
    height: 22px;
    width: 34px;
  }
  .line1 , .line2 , .line3 {
    min-width: 20px;
    height: 3px;
  }
  .mobile-main-navs , .dropdownmenu {
    width: 100%;
    border: none;
    padding: 0;
  }
  .dropdownmenu {
    padding: 15px;
  }
  .banner h1 a {
    font-size: 46px;
  }
  .banner p , a {
    font-size: 22px;
  }
  .wrapper {
    gap: 20px;
  }
  .diffrent-style img {
    height: 300px;
  }
}